body{
    background-color: rgba(0,0,0,0.6);
    color: #FFF;
}
div.allButtons{
    width: 336px;
    height: 100px;
}
div.buttonContainer {
    border: #333 1px solid;
    width: 80px;
    margin: 5px;
    padding: 10px;
    float: left;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

div.buttonContainer:hover {
    color: #f00;
}

div.buttonContainer:active {
    color: #a00;
}

div.button span{
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    float: left;
    display: inline;
}

span#recordButton.on{
    color: #f00;
}